<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Highly Configurable');"></div>
            <div class="carousel-caption">
                <h2>Because Shoe Sizes Should Not Be The Only Configurable Thing In The World</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Non-Custodial');"></div>
            <div class="carousel-caption">
                <h2>Because Only One Person Can Keep Your Keys Safe: You</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Peer-to-Peer Decentralization');"></div>
            <div class="carousel-caption">
                <h2>Divided We Stand</h2>
            </div>
        </div>
         <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Open Source');"></div>
            <div class="carousel-caption">
                <h2>Because MIT Licenses Exist</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Welcome to SecBitEx (Secure Bitcoin Exchange)
        </h1>
      </div>

      <div class="col-md-12">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><i class="fa fa-fw fa-cog"></i> Highly Configurable</h4>
            </div>
            <div class="panel-body">
              <p><b>Decide</b> which features your sellers and buyers get access to.</p>
              <p>Rely on the power of configuration to give a more <b>smooth exchange experience</b> to your customers.</p>
              <a href="/features/configurable" class="btn btn-success form-control">Would You Like To Know More?</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><i class="fa fa-fw fa-lock"></i> Non-Custodial</h4>
            </div>
            <div class="panel-body">
              <p>Keep the Bitcoin out of your ecosystem right up into a trade occurs.</p>
              <p>Reduce liability with a standard <b>public/private separation</b> for your wallets.</p>
              <a href="/features/custody" class="btn btn-success form-control">Would You Like To Know More?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><i class="fa fa-fw fa-users"></i> Peer-to-Peer Decentralization</h4>
            </div>
            <div class="panel-body">
              <p>Abuse Stripe's ACH compartmentalization of accounts for <b>censorship resistance.</b></p>
              <p>ACH transactions occur from buyer to seller directly, <b>no need to meddle into the USD business.</b></p>
              <a href="/features/peertopeer" class="btn btn-success form-control">Would You Like To Know More?</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><i class="fa fa-fw fa-code-fork"></i> Open Source</h4>
            </div>
            <div class="panel-body">
              <p>Because if I can't audit their implementation, <b>it's not secure.</b></p>
              <p>Because if I can't audit their implementation, <b>it can't be trusted.</b></p>
              <p>Because if I can't audit their implementation, <b>only time will tell.</b></p>
              <a href="/features/opensource" class="btn btn-success form-control">Would You Like To Know More?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Call to Action Section -->
    <div class="well" style="margin-top:20px">
        <div class="row">
            <div class="col-md-8">
                <h3>Highly Configurable, Non-Custodial, Peer to Peer, Open Source Exchange. That's a mouthful of buzzwords.</h3>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-success btn-block" href="/users/sign_up">I Want To Sign Up</a>
                <a class="btn btn-lg btn-success btn-block" href="/users/sign_in" style='margin-top:5%'>I've Already Signed Up</a>
            </div>
        </div>
    </div>

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">SecBitEx Features</h2>
        </div>
        <div class="col-md-6">
            <p>SecBitEx is built on the best of best of open source software/API solutions</p>
            <ul>
                <li><strong>Rails 5.0.0</strong></li>
                <li>jQuery v1.11.0</li>
                <li>Devise</li>
                <li>Sidekiq</li>
                <li>Postgres</li>
                <li>Redis</li>
                <li>Twilio</li>
                <li>Stripe</li>
            </ul>
            <p>Constantly Updated To Maintain Maximum Security. <br><b>Because Only Security Can Prevent Wildfires.</b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/700x450&text=Software v0.01" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
});
</script>
