<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Open Source
        </h1>
      </div>
      <h4 class='text-center'>Because MIT Licenses Are A Thing Of Beauty.<br> And Not Using Them Is Terrible.</h4>
    </div>

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Open Source As A Feature</h2>
        </div>
        <div class="col-md-6">
        <ul>
          <li><strong><a href="https://github.com/AtheistOfFail/SecBitEx">All Code</a></strong></li>
          <li><strong><a href="https://github.com/AtheistOfFail/SecBitEx/README.md">All Configuration</a></strong></li>
          <li><strong><a href="https://github.com/AtheistOfFail/SecBitEx/README.md">Deployment Instructions</a></strong></li>
          <li><strong><a href="https://github.com/AtheistOfFail/SecBitEx/pulls">Open To Pull Requests</a></strong></li>
        </ul>
        <p><b>Because If You Can't Audit It, It Isn't Worth A Penny. #JustProgrammerThings</b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/700x450&text=Security By Openness 101" alt="">
        </div>
    </div>
    <!-- /.row -->
</div>