<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Peer To Peer
        </h1>
      </div>
      <h4 class='text-center'>Because No Exchange Should Hold USD Balances.<br> Because They're 'Bitcoin Exchanges'.</h4>
    </div>

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Peer To Peer As A Feature</h2>
        </div>
        <div class="col-md-6">
        <ul>
          <li>Sellers supply their own Stripe credentials (public/private keypair)</li>
          <li>Buyers purchase through Stripe Checkout JS (using seller credentials)</li>
          <li>You don't touch the money, no liability, no issues</li>
        </ul>
        <p><b>Because Paper Money Is Nasty. #JustStripeThings</b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/700x450&text=Abusing Stripe 101" alt="">
        </div>
    </div>
    <!-- /.row -->
</div>