<!-- Page Content -->
<div class="container">
    <div class="row">
    	<div class="col-lg-12">
        <h1 class="page-header">
          Bitcoin Statistics (5 Minute Delay)
        </h1>
      </div>
      <div class="col-md-4">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-btc"></i> Bitcoin In Wallets</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>1,203,201 BTC</h3>
      		</div>
      	</div>
      </div>
      <div class="col-md-4">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-btc"></i> Bitcoin Being Traded </h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>12,102 BTC</h3>
      		</div>
      	</div>
      </div>
      <div class="col-md-4">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-btc"></i> Total Bitcoin Traded</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>291,201 BTC</h3>
      		</div>
      	</div>
      </div>
    </div>

    <div class="row">
    	<div class="col-lg-12">
        <h1 class="page-header">
          Transactional Statistics (5 Minute Delay)
        </h1>
      </div>
      <div class="col-md-3">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-database"></i> Pending Orders</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>201 TX</h3>
      		</div>
      	</div>
      </div>
      <div class="col-md-3">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-database"></i> Active Buy Orders</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>1823 TX</h3>
      		</div>
      	</div>
      </div>
      <div class="col-md-3">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-database"></i> Active Sell Orders</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>528 TX</h3>
      		</div>
      	</div>
      </div>
      <div class="col-md-3">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-database"></i> Active Orders</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>2320 TX</h3>
      		</div>
      	</div>
      </div>
      <div class="col-md-4">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-database"></i> Total Buy Orders Processed</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>10591 TX</h3>
      		</div>
      	</div>
      </div>
      <div class="col-md-4">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-database"></i> Total Sell Orders Processed</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>17800 TX</h3>
      		</div>
      	</div>
      </div>
      <div class="col-md-4">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h4><i class="fa fa-fw fa-database"></i> Total Orders Processed</h4>
      		</div>
      		<div class="panel-body">
      			<h3 style='float:right'>28391 TX</h3>
      		</div>
      	</div>
      </div>
    </div>
</div>