
<!-- footer content -->
<footer style="margin-top: 0px !important" >
  <div class="top_nav" style="float: right; margin-left: 230px !important">
    <p>Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a></p>
    <p>Copyright &copy; SecBitEx 0 - <%= Date.current.year + 1 %></p>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->