<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation" class="dropdown">
          <a href="/dashboard/" class="dropdown-toggle info-number" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">6</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
